h1 {
    text-align: center;
    color: #0000FF;
    font-family: Verdana;
    font-size: 20px;
}

h2 {
    text-align: right;
    color: #800000;
    font-family: Verdana;
    font-size: 16px;
}

p {
    text-align: justify;
    color: #191970;
    font-family: Arial;
    font-size: 12px;
    font-weight: bolder;
}

body {
    background-color: #99CCFF;
    background-image: url(../img/fon9.jpg);
}

h3 {
    text-align: justify;
    color: #0000FF;
    font-family: 'Times New Roman';
    font-size: 20px;
}

ol>li,
ul>li {
    color: #191970;
    font-weight: bolder;
}

ol>li {
    list-style-type: upper-roman;
}

ul>li {
    list-style-image: url(../img/spisok_1.gif);
}

h1.main,
h1.golub,
h1.krasn,
h1.zelen,
h1.oranzhev {
    font-family: Verdana;
    text-align: left;
    font-size: 14px;
}

h1.main {
    color: navy;
}

h1.golub {
    color: blue;
}

h1.krasn {
    color: red;
}

h1.zelen {
    color: green;
}

h1.oranzhev {
    color: orange;
}

p.first {
    color: navy;
    text-align: center;
}

p.second {
    color: blue;
    text-align: left;
}

p.third {
    color: red;
    text-align: right;
}

p.fourth {
    color: green;
    text-align: justify;
}

p.fifth {
    color: orange;
    text-align: center;
}